div {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: monospace;
    font-size: 0;
    vertical-align: top;
}

html, body {
    background: black;
}

#wrapper {
    margin: auto;
    width: 800px;
    height: 600px;
    background: #111111;
}

#petridish {
    display: inline-block;
    width: 596px;
}

.map-row {
    height: 22px;
}

.block {
    width: 20px;
    height: 20px;
    margin: 1px;
    display: inline-block;
}

.pulse-block {
    width: 22px;
    height: 22px;
    margin: 0;
    display: inline-block;
}

.message-block {
    width: 22px;
    height: 22px;
    margin: 0;
    display: inline-block;
}

.cell {
    border-radius: 3px;
    font-size: 18px;
    color: black;
}

.empty {
    background: #171717;
}

.hidden {
    display: none;
}

.cell-shadow {
    opacity: 0.7;
}

#cursor-cell-icon {
    border-radius: 3px;
    width: 10px;
    height: 10px;
    position: fixed;
}

#cursor-tool-icon {
    width: 24px;
    height: 24px;
    position: fixed;
}
