div {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: monospace;
    font-size: 0;
}

html, body {
    background: black;
}

#wrapper {
    margin: auto;
    width: 800px;
    height: 600px;
    background: #111111;
}

#control-panel {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 100%;
    background: #222222;
}

#logo-wrapper {
    margin: 15px auto;
    width: 170px;
    height: 100px;
}

#inventory {
    margin: auto;
    padding: 5px;
    width: 160px;
    background: #333333;
}

#inventory-title {
    color: lightgray;
    font-size: 20px;
    text-align: center;
}

#inventory > hr {
    border-color: lightgray;
}

#inventory-cells {
    min-height: 20px;
}

#petridish {
    display: inline-block;
    width: 596px;
}

.row {
    height: 22px;
}

.b-empty {
    width: 20px;
    height: 20px;
    margin: 1px;
    display: inline-block;
    background: #171717;
}

