div {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: monospace;
    font-size: 0;
    vertical-align: top;
}

html, body {
    background: black;
}

#wrapper {
    margin: auto;
    width: 800px;
    height: 600px;
    background: #111111;
}

#control-panel {
    display: inline-block;
    width: 200px;
    height: 100%;
    background: #222222;
}

#logo-wrapper {
    margin: 15px auto;
    width: 170px;
    height: 100px;
}

.panel-block {
    margin: 15px auto;
    padding: 5px;
    width: 160px;
    background: #333333;
}

.panel-block > .title {
    color: lightgray;
    font-size: 20px;
    text-align: center;
}

.panel-block > hr {
    border-color: lightgray;
    margin-top: 5px;
    margin-bottom: 10px;
}

.panel-block > .content {
    min-height: 20px;
}

#petridish {
    display: inline-block;
    width: 596px;
}

.row {
    height: 22px;
}

.block {
    width: 20px;
    height: 20px;
    margin: 1px;
    display: inline-block;
}

.pulse-block {
    width: 22px;
    height: 22px;
    margin: 0;
    display: inline-block;
}

.cell {
    border-radius: 3px;
    font-size: 18px;
    color: black;
}

.empty {
    background: #171717;
}

.inventory-cell-item {
    margin: 5px 5px;
    padding: 5px 20px;
}

.inventory-cell-item-selected {
    background: #555555;
}

.inventory-cell-item:hover {
    background: #444444;
}

.inventory-cell-item-selected:hover {
    background: #555555;
}

.cell-amount {
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    vertical-align: top;
    margin-left: 10px;
    color: lightgray;
}

.hidden {
    display: none;
}

#cursor-cell-icon {
    opacity: 0.7;
    position: fixed;
}
